* {
    font-family: sans-serif;
    margin: 0px;

}

:root {
    --main-blue: #5183FE;
    --light-blue: #A5C1FF;
    --text-white: #F7FFFF;
    --yellow: #FFB908;
    --green: #00FF89;
    --button-green: #15BDAC;
    --theme-gray: #4D555C;
    --theme-green: #0EA191;
    --button-gray: hsl(200, 1%, 51%);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--light-blue);
}

.main.green {
    background-color: var(--theme-gray);

}

.main.gray {
    background-color: var(--text-white);

}



.select-player-box.show {
    padding: 32px;
    background-color: var(--main-blue);
    color: var(--text-white);
    flex-direction: column;
    box-shadow: var(--main-blue);
    max-width: 350px;
    width: 100%;
    border-radius: 12px;
    transition: all 0.3s ease;
    /* display: none; */
    display: flex;
    justify-content: center;
    border-radius: 12px;
}

.blue .select-player-box.show {
    background-color: var(--main-blue);
}

.green .select-player-box.show {
    background-color: var(--theme-green);
}

.gray .select-player-box.show {
    background-color: var(--theme-gray);
}


.select-player-box {
    display: none;
}

.select-player-box.hide {
    display: none;
    pointer-events: none;
}

.select-player-box header {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--text-white);

}

.player-box-content {

    margin-top: 12px;
}

.select-player-box .player-box-content .title {
    margin-bottom: 18px;
    font-weight: 300;

}

.select-player-box .player-box-content .player-options {
    display: flex;
    width: 100%;
}

.green .player-options button {
    background-color: var(--button-green);
}

.blue .player-options button {
    background-color: var(--light-blue);
}

.gray .player-options button {
    background-color: var(--button-gray);

}

.player-options button {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    outline: none;
    color: var(--text-white);
    cursor: pointer;
    padding: 8px 2px;
    transition: all 0.3s ease;
}

.player-options button:hover,
.result-box .replay-button button:hover {
    transform: scale(0.95);
}

.player-options .player-x {
    margin-right: 5px;
}

.player-options .player-y {
    margin-left: 5px;
}

.play-board {
    display: none;
}

.play-board.show {
    border-radius: 20px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    transition: all 0.3 ease;

}

.blue .play-board {
    background-color: var(--main-blue);

}

.green .play-board {
    background-color: var(--theme-green);

}

.gray .play-board {
    background-color: var(--theme-gray);

}


.blue .play-board .detail {
    background-color: var(--light-blue);
}

.green .play-board .detail {
    background-color: var(--button-green);

}

.gray .play-board .detail {
    background-color: var(--button-gray);

}


.play-board .detail {

    padding: 6px;
    border-radius: 6px;
    color: var(--text-white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 8px;
    width: 90%;
}

.play-board .detail .players {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
}

.play-board .detail span {
    width: 100%;
    border-radius: 6px;
    justify-content: center;
    display: flex;
    padding: 6px 2px;
    font-weight: 500;
    cursor: default;
    font-size: 16px;
    text-align: center;
    position: relative;
    z-index: 5;
    transition: all 0.3s ease;
}

.blue .play-board .detail span {
    color: var(--main-blue);

}

.play-board.green .detail span {
    color: var(--theme-green);

}

.play-board.gray .detail span {
    color: var(--theme-gray);

}


.blue .detail span:first-child {
    color: var(--text-white)
}

.green .detail span:first-child {
    color: var(--text-white)
}

.gray .detail span:first-child {
    color: var(--text-white)
}



.detail .slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    border-radius: 6px;
    z-index: 2;
    transition: all 0.3s ease;


}

.blue .play-board.show .detail .slider {
    background-color: var(--main-blue);

}

.green .play-board.show .detail .slider {
    background-color: var(--theme-green);

}

.gray .play-board.show .detail .slider {
    background-color: var(--theme-gray);

}

.players.active span:first-child {
    color: var(--text-white);
}

.players.active span:nth-child(2) {
    color: var(--text-white);
}

.players.active .slider {
    left: 50%;
}

.players .x-turn {
    margin-right: 2px;

}

.players .y-turn {
    margin-left: 0px;

}

.cells {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    color: #fff;
    border-radius: 8px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.blue .play-board.show .cells {
    background-color: var(--main-blue);
    border: 6px solid var(--main-blue);
}

.green .play-board.show .cells {
    background-color: var(--theme-green);
    border: 6px solid var(--theme-green);
}

.gray .play-board.show .cells {
    background-color: var(--theme-gray);
    border: 6px solid var(--theme-gray);
}

.cell {
    border-radius: 12px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue .play-board.show .cell {
    border: 6px solid var(--main-blue);
    background-color: var(--light-blue);
}

.green .play-board.show .cell {
    border: 6px solid var(--theme-green);
    background-color: var(--button-green);
}

.gray .play-board.show .cell {
    border: 6px solid var(--theme-gray);
    background-color: var(--button-gray);
}


.result-box {
    display: none;
}

.result-box.show {
    border-radius: 12px;
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3 ease;
}



.blue .result-box.show {
    background-color: var(--main-blue);
}

.green .result-box.show {
    background-color: var(--theme-green);
}

.gray .result-box.show {
    background-color: var(--theme-gray);
}

.result-box.show .won-text {
    color: var(--text-white);
    font-size: 24px;
    font-weight: 500;
    display: flex;
    max-width: 350px;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: column; */
}

.result-box .won-text p {
    font-weight: 600;
    margin: 0 6px;
    color: var(--text-white);

}

.result-box .replay-button {
    display: flex;
    margin-top: 20px;
    justify-content: center;

}

.result-box .replay-button button {
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    outline: none;
    color: var(--text-white);
    cursor: pointer;
    padding: 8px 24px;
    transition: all 0.3s ease;
}

.blue .result-box .replay-button button {
    background-color: var(--light-blue);

}

.green .result-box .replay-button button {
    background-color: var(--button-green);

}

.gray .result-box .replay-button button {
    background-color: var(--button-gray);

}


.select-theme {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 28px;
}

.select-theme.hide {
    display: none;

}

.select-theme .theme-circles {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 32px
}

.select-theme .circle {
    border-radius: 100%;
    background-color: wheat;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: none;

}

.select-theme .circle:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--main-blue);
    transform: translateY(-0.3em);
    cursor: pointer;
}

.select-theme header {
    font-size: 42px;
    font-weight: 600;
    color: var(--text-white);
}